<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="Component" value="AccountCheckerWorkflowService1"/>
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=AccountChecker;Integrated Security=True;Connection Timeout=3600" />
    <add key="ConnectionTimeout" value="60" />
  </appSettings>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/workflowservice-log4net.xml" />
      </factoryAdapter>
    </logging>
  </common>

  <spring>
    <context>
      <resource uri="file://~/workflowservice-spring.xml" />
    </context>
  </spring>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="..\..\..\..\..\..\..\logs\accountchecker\services\workflow\workflowservice.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <client>
      <endpoint name="NotifyServerEndPoint" address="net.tcp://localhost:40102/accountchecker/servers/notifyserver" contract="DL.AccountChecker.Framework.IEventServer" binding="netTcpBinding" behaviorConfiguration="wsClientBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="wsClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="100000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" />
        <bindingRedirect oldVersion="1.2.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
